html {
  height: 100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
  
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: rgba(1, 21, 70, 0.822);
  font-size: 24px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

div {
  display: block;
}

#test {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  margin-left: 0%;
}

#test div {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  margin-bottom: 25px;
  text-align: center;
  border-radius: 2px;
  border-color: rgb(102, 199, 255);
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

#test div img {
  position: relative;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
  max-width: 250px;
}

#test div input {
  position: absolute;
  top: 240px;
  left: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #8e44ad;
}

#darstellung {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#eis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 450px;
  height: 200px;
}

#Waffel {
  position: relative;
  max-height: 200px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#Becher {
  position: relative;
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

#zusatz {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  height: 350px;
}

#zusatz div img {
  position: relative;
  max-height: 450px;
  max-width: 450px;
  margin-bottom: -100px;
  margin-top: -50px;
}

#kaufen {
  position: relative;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #8e44ad;
}

#produkte {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}



.Formular_Daten {
  background-color: rgb(4, 44, 82);
  width: 400px;
  padding: 10px;
  margin: 0px;
  height: 30px;
  
}



#Copie {
  opacity: 50%;
  font-size: xx-small;
}

.senden {
  background-color: lightgrey;
  width: 120px;
  padding: 10px;
  margin: 0px;
  height: 50px;
}

.Absatz {
  color: blue;
  position: absolute;
  top: 100px;
  right: 30%;
  width: 250px;
  height: 100px;
} 